.footer {
  font-family: roboto, sans-serif;
  --gap-items: 25px;
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-items);
  background-color: #191923;
}

.footer > p {
  border-left: 1px solid rgb(180, 180, 180);
  padding-left: var(--gap-items);
  padding: 5px 0px 5px var(--gap-items);
  margin: 0;
  color: white;
}


.git-img {
  padding: 5px 0px 4px 0px;
  height: 20px;
  filter: invert(1);
}